.communicationSection{
  text-align: center;
    padding: 58px 138px 78px 138px;
    

}


.communicationContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Центрирует элементы по горизонтали */
  align-items: flex-start; /* Выровняет элементы по верху контейнера */
  gap: 20px;
  /* padding: 58px 138px 78px 138px; */

}


.communicationtext {
  margin-bottom: 20px;
}

.communicationtext p{
  margin-top: 20px;
}


