.integrationSection{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  text-align: left;
}
.search {
  width: 80%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.list {
  list-style: none;
  padding: 0;
}